<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2 ">
            <h3><%= listing.title %></h3>
        </div>
        
            <div class="listing-card  col-8 offset-2 ">
                 <img src="<%= listing.image %>" class="card-img-top show-img " alt="listing-img">
                <div class="card-body">
                    <p class="card-text">Owned by <i>&#126;<%= listing.owner.username %></i></p>
                    <p class="card-text"><i><%= listing.description %></i></p>
                        <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %>/night </p>
                        <p class="card-text"><%= listing.location %></p>
                        <p class="card-text"><%= listing.country %></p>
                    </p>
                </div>

                    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
                        <div class="card-btn">
                            <a class="btn btn-success" href="/listings/<%= listing._id %>/edit">Edit</a> <br><br>
                            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                                <button class="btn btn-dark">Delete</button>
                            </form>
                        </div>
                    <% } %>
                        
                    
                    <% if( currUser ) { %>
                        <div class="mb-3">
                            <hr />
                            <h4>Add a review</h4>
                            <form novalidate class="mb-3 needs-validation" method="post" action="/listings/<%= listing._id %>/reviews"  >
                                <div class="mb-2 mt-2">
                                    <label for="rating" class="form-label">Rating</label>
                                    <input type="range" class="form-range" min="1" max="5" id="rating"  name="review[rating]">
                                </div>
                                <div class="mb-2 mt-2">
                                    <label for="comment" class="form-label">Comment</label>
                                    <textarea name="review[comment]" id="comment" required class="form-control" cols="30" rows="5"></textarea>
                                    <div class="invalid-feedback">Please add some comments for review</div>
                                    
                                </div><br>
                                <button class="btn btn-outline-dark">Submit</button>
                            </form>
                        </div>
                        <hr>
                    <% } %>
                    
                    <div class="row">

                        <p><b>All Reviews</b></p>
                        <% for(review of listing.reviews){ %>
                            <div class="card col-5 mb-2 ms-3">
                                <div class="card-body">
                                    <div class="card-title review-card">
                                        <i>@<%= review.author.username %></i>
                                        <form method="post" action="/listings/<%= listing._id%>/reviews/<%= review._id%>?_method=DELETE">
                                            <button class="btn btn-outline-dark review-btn"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                    <p class="card-text"><%= review.comment %></p>
                                    <p class="card-text"><%= review.rating %><i class="fa-solid fa-star"></i></p>
                                </div>
                                
                            </div>
                        <% } %>
                    </div>
            </div>
    </div>
</body>